:root {
	/* PRIMARY */
	--primaryLight: hsl(148, 38%, 91%);
	--primaryMedium: hsl(169, 82%, 27%);

	/* NEUTRAL */
	--neutralLight: hsl(0, 0%, 100%);
	--neutralMedium: hsl(186, 15%, 59%);
	--neutralDark: hsl(187, 24%, 22%);
}

@font-face {
	font-family: "Karla Regular";
	src: url("/font/Karla-Regular.ttf") format("truetype");
	font-weight: normal;
}

@font-face {
	font-family: "Karla Bold";
	src: url("/font/Karla-Bold.ttf") format("truetype");
	font-weight: bold;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	font-family: "Karla Regular";
}

main {
	background-color: var(--primaryLight);
	min-height: 100dvh;
	width: 100%;
	padding: 2rem 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	width: 100%;
	padding: 2rem;

	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	align-items: start;
}

@media (min-width: 768px) {
	.container {
		flex-direction: row;
	}
}

/* frontend mentor */
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
